<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
            <div class="col l3 s12">
            <h5 class="white-text">Address</h5>
            <p class="grey-text text-lighten-4">
                2503 Flat no. Sargam Society<br>
                Nanded City Sinhgad Rd.<br>
                Pune Maharastra<br>
                <p>phone no.: 7415831658</p>
                <p>mailid: riapillai27@gmail.com</p>
            </p>
            </div>
            <div class="col l2 s12">
                <h5 class="white-text"> Quick Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/home">Home</a></li><br>
                    <li><a class="grey-text text-lighten-3" href="/admin">Admin</a></li><br>
                    <li><a class="grey-text text-lighten-3" href="/about">About</a></li><br>
                    <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                </ul>
                </div>
            <div class="col l2 offset-l2 s12">
                <h5 class="white-text">Connect us</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="http://www.facebook.com" >facebook</a></li><br>
                <li><a  class="grey-text text-lighten-3" href="http://www.instagram.com">instagram</a></li><br>
                <li><a class="grey-text text-lighten-3" href="http://www.twitter.com">twitter </a></li><br>
                <li><a class="grey-text text-lighten-3" href="http://www.linkedin.com">Linedin </a></li>
            </ul>
            </div>
      </div>
    </div>
    <hr>
    <div class="footer-copyright">
      <div class="container center-align">
      ©Copyright2024; Designed by RIYA
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>